---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section class="page">
    <h1>About Jonestown Automotive</h1>
    <p>
      Family-owned and operated. Our technicians are ASE-certified and committed
      to honest, transparent service.
    </p>

    <h2>Why choose us?</h2>
    <ul>
      <li>Experienced technicians</li>
      <li>Clear estimates and no surprise fees</li>
      <li>Quality parts and workmanship</li>
      <li>Friendly, local service</li>
    </ul>
  </section>

  <div class="map-container">
    <h3>Our Location</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6450.698614617537!2d-80.34704320601467!3d36.060583238058015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8853b096481a4f1d%3A0x60431252c2ae2d15!2s1052-1078%20State%20Rd%201122%2C%20Winston-Salem%2C%20NC%2027103!5e0!3m2!1sen!2sus!4v1774969928594!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</Layout>
